@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans&display=swap');

/* ######################################################################################################### */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: #111;
    overflow-x: hidden;
}

header {
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    padding: 1em 0 0.5em 0;
    border-bottom: 2px solid #ffffdd;
}

#logo {
    max-height: 2em;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.3em;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.75em;
    margin-left: 0.5em;
    color: #333;
}

a {
    color: #6EAFB5;
}

.credits {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

/* Books */
/* 
#books-container {

} */

.book-div {
    height: 100vh;
    scroll-snap-align: start;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 1em;
    margin-bottom: 1em;
    
    padding-top: 100px; /* Set padding top to the height of the sticky header */
    padding-bottom: 50px;
    
    border-bottom: 2px solid #B3B3B3;
}

.book-div:last-child {
    border-bottom: unset;
}

.book-cover {
    margin-inline: 1em;
    height: 65vh;
    max-width: 90%;
    border: 2px solid #ffffdd;
    border-radius: 7px;
}

.book-info {
    margin-left: 0.5em;
}

.book-title {
    margin-top: 0.5em;
    font-size: 1.25rem;
    padding-right: 0.3em;
    font-family: 'Montserrat', sans-serif;
    color: #444;
}

.book-author {
    margin-top: 0.5em;
    font-family: 'Lora', serif;
    color: #333;
    font-style: italic;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    color: #ffffdd;
    background-color: #111;
    text-align: center;
    padding: 1em 0em;
    border-top: 2px solid #B3B3B3;
}
.blur {
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}

.dateTitle {
    background-color: hotpink;
    display: flex;
}