@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans&display=swap');

/* ######################################################################################################### */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: #111;
    overflow-x: hidden;
}

header {
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    padding-top: 0.5em;
    border-bottom: 2px solid #ffffdd;
}

#logo {
    max-height: 2em;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.3em;
    color: #fff;
    text-align: center;
}

a {
    color: #6EAFB5;
}

.credits {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

/* Books */

.book-div {
    height: 100vh;
    scroll-snap-align: start;

    display: relative;

    padding-top: 100px;
    /* Set padding top to the height of the sticky header */
    padding-bottom: 50px;

    border-bottom: 2px solid #B3B3B3;

}

.positioning-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.book-div:last-child {
    border-bottom: unset;
}

.book-cover {
    position: absolute;
    left: 0;
    right: 0;

    margin: 0 auto;

    height: 70vh;
    width: 450px;
    max-width: 90%;

    border: 2px solid #ffffdd;
    border-radius: 7px;
}

.book-info-availability {
    position: absolute;
    left: 0;
    right: 0;

    margin: 0 auto;
    padding: 1em 1em;

    height: 70vh;
    width: 450px;
    max-width: 90%;

    color: #FAF9F6;
    font-family: 'Open Sans', sans-serif;

    /* background blur */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 7px;
    visibility: hidden;
}

.book-title {
    margin-top: 1em;
    font-size: 1.75rem;
    padding-right: 0.3em;
    font-family: 'Montserrat', sans-serif;
    color: #FAF9F6;
}

.book-author {
    margin-top: 0.5em;
    font-family: 'Montserrat', serif;
    font-size: 1rem;
    font-style: italic;
}

.book-genre {
    margin: 1em 0 1em 0;
}

.book-language {
    margin: 0 0 1em 0;
}

.book-summary {
    font-size: 1rem;
}

.book-availability {
    padding: 0.5em 0;
}

.book-status,
.book-due-date,
.book-sublocation,
.book-shelfmark {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    color: #ffffdd;
    background-color: #111;
    text-align: center;
    padding: 1em 0em;
    border-top: 2px solid #B3B3B3;
}